<ul>
  {% for todo in todos %}
  <li>{{forloop.index}} - {{todo}}</li>
  {% endfor %}
  <p><a href="/ja/customer/contact-buyer/">contact-buyer</a></p>
  <p><a href="/ja/orders/order-confirmation/">order-confirmation</a></p>
</ul>
